html, body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    word-break: break-word;
    overflow-wrap: break-word;
    background: $light;
    background: var(--background);
    color: var(--text);
    transition: $theme-transition;
}

body > .container-fluid {
    flex: 1 0 auto;
}

h1, h2, h3, .display-1, .display-2, .display-3, .display-4 {
    &:not(:first-child) {
        margin-top: $spacer * 2;
    }
}

h1 {
    text-transform: uppercase;
}

h1, h2, h3 {
    font-weight: bold;
}

h1, h2 {
    color: $primary;
}

.breadcrumb {
    margin-bottom: $spacer;

    .breadcrumb-item.active {
        color: var(--text);
    }
}

h1:not(.title), h2, .breadcrumb {
    padding-bottom: $spacer / 2;
    border-bottom: 3px solid $primary-opacity;
}

.sticky-top {
    max-height: 100vh;
    overflow: auto;
}

/*Scrollbars*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px $primary-opacity;
    background: $primary-opacity;
}

/*Tables*/
.table-dark {
    color: var(--text);
}

/*Borders*/
[class^="border"], hr {
    border-color: var(--border) !important;
}

/*List*/
.list-style-type-disc {
    list-style-type: disc;
}

/*Images & Main Content*/
img {
    max-width: 100%;
    height: auto;
}

#mainContent {
    h1:not(.title):first-of-type {
        display: none;
    }

    h2:first-of-type {
        margin-top: 0;
    }

    a:not(.anchorjs-link) {
        padding: 14px 0;
    }

    img {
        border: 1px solid $gray-300;
        border: 1px solid var(--border);
    }
}

/*Utilities*/
.pl-c175 {
    padding-left: $spacer * 2 - $spacer / 4 !important;
}

.pl-c2 {
    padding-left: $spacer * 2 !important;
}

.pl-c275 {
    padding-left: $spacer * 3 - $spacer / 4 !important;
}

.pl-c4 {
    padding-left: $spacer * 4 !important;
}

.pl-c5 {
    padding-left: $spacer * 5 !important;
}

/*Modals*/
.modal, .modal-open {
    padding-right: 0 !important;
}
.modal-backdrop.show {
    opacity: var(--modal-backdrop);
}
.modal-content {
    background: var(--background-light);

    .modal-header, .modal-footer {
        border-color: var(--border)
    }

    .modal-header, .modal-body, .modal-footer {
        background: $white;
        background: var(--background-light);
    }

    .modal-header {
        .close {
            color: var(--text);
        }
    }
}

/*Badges*/
.badge-key {
    font-family: $font-family-monospace;
}

/*Gitter*/
.gitter-chat-embed, .gitter-open-chat-button {
    z-index: 9999;
}

footer {
    flex-shrink: 0;
    background: $white;
    background: var(--background-light);
    transition: $theme-transition;
}

@include media-breakpoint-up(md) {
    .container-fluid .row:first-child {
        height: 100%;
    }

    #mainContent {
        a:not(.anchorjs-link) {
            padding: 0;
        }
    }
}

@include media-breakpoint-up(xl) {
    #mainContent {
        h2:first-of-type {
            margin-top: $spacer * 2;
        }
    }

    .breadcrumb {
        margin-bottom: $spacer * 2;
    }
}