// Variables
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

// Default Colors
$blue:    #5c9fd8;
$purple:  #6f42c1;
$red:     #f4516c;
$yellow:  #ffc107;
$orange:  #FD7E14;
$green:   #36bc98;

// Theme
$primary:   $blue;

// Custom Colors
$primary-opacity:     rgba($primary, 0.25);
$primary-opacity-50:  rgba($primary, 0.5);
$primary-hover:       darken($primary, 15%);
$primary-dark:        darken($primary, 30%);
$primary-light:       lighten($primary, 25%);
$purple-light:        lighten($purple, 25%);
$orange-light:        lighten($orange, 20%);
$red-light:           lighten($red, 15%);
$yellow-opacity:      rgba($yellow, 0.25);
$border-dark:         lighten($gray-800, 7.5%);

:root {
    --color-mode: 'light';
    --background: #{$gray-100};
    --background-light: #{$white};
    --text: #{$gray-900};
    --text-code: #{$gray-800};
    --border: #{$gray-300};
    --border-secondary: #{$gray-300};
    --purple-color: #{$purple};
    --orange-color: #{$orange};
    --red-color: #{$red};
    --primary-25: #{$primary-light};
    --theme-toggle-opacity: #{$yellow-opacity};
    --theme-toggle-background: #{$white};
    --theme-toggle-btn-background: #{$yellow-opacity};
    --modal-backdrop: 0.5;
}

@media (prefers-color-scheme: dark) {
    :root {
      --color-mode: 'dark';
    }
  
    :root:not([data-user-color-scheme]) {
      --background: #{$gray-900};
      --background-light: #{$gray-800};
      --text: #{$gray-400};
      --text-code: #{$gray-500};
      --border: #{$border-dark};
      --border-secondary: #{$primary-opacity-50};
      --purple-color: #{$purple-light};
      --orange-color: #{$orange-light};
      --red-color: #{$red-light};
      --primary-25: #{$primary-dark};
      --theme-toggle-opacity: #{$primary-opacity-50};
      --theme-toggle-background: #{$primary-opacity};
      --theme-toggle-btn-background: #{$primary-opacity};
      --modal-backdrop: 0.9;
    }
  }
  
  [data-user-color-scheme='dark'] {
    --background: #{$gray-900};
    --background-light: #{$gray-800};
    --text: #{$gray-400};
    --text-code: #{$gray-500};
    --border: #{$border-dark};
    --border-secondary: #{$primary-opacity-50};
    --purple-color: #{$purple-light};
    --orange-color: #{$orange-light};
    --red-color: #{$red-light};
    --primary-25: #{$primary-dark};
    --theme-toggle-opacity: #{$primary-opacity-50};
    --theme-toggle-background: #{$primary-opacity};
    --theme-toggle-btn-background: #{$primary-opacity};
    --modal-backdrop: 0.9;
  }

// Transition
$theme-transition: .5s;

// Body & Font
$enable-responsive-font-sizes: true;
$body-bg: $gray-100;
$font-family-sans-serif: 'PT Sans', sans-serif;

// Links
$link-hover-decoration: none;

// Code
$code-color: $green;

// Buttons
$input-btn-padding-y-sm: 0;
$input-btn-padding-x-sm: 6px;
$btn-font-weight: 700;

// Tooltips
$tooltip-bg: $primary-hover;

// Cards
$card-border-radius: 0;
$card-inner-border-radius: 0;
$card-border-width: 0;

// Alerts
$alert-border-radius: 0;
$alert-border-width: 0;

// Custom Select
$custom-select-indicator: "";

// Carousel
$carousel-indicator-active-bg: $primary;
$carousel-control-color: $primary;
$carousel-control-opacity: 1;
$carousel-control-hover-opacity: .7;

// Breadcrumbs
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-border-radius: 0;
$breadcrumb-margin-bottom: 0;
$breadcrumb-bg: transparent;

// Custom Select
$custom-select-indicator: "";
$input-border-color: $primary;
$custom-control-indicator-size: 1.5rem;

// Tabs
$nav-tabs-link-active-bg: $white;

// Alerts
$alert-margin-bottom: 0;
$alert-border-width: 0;
$alert-bg-level: 0;
$alert-color-level: 0;