#leftSidebarNav {
    background: $white;
    background: var(--background-light);
    transition: $theme-transition;
    top: 0;

    .navbar {
        .navbar-toggler {
            position: absolute;
            top: -56.5px;
            right: 15px;
            font-size: $font-size-base;
            line-height: 1.5;
            padding: 0.375rem 0.75rem;
            background: $white;
            background: var(--background-light);
            border: 1px solid $gray-300;
            border: 1px solid var(--border-secondary);
            transition: $theme-transition;

            &:focus, &:hover {
                background: $primary;

                .fas {
                    color: $white;
                }
            }

            .fas {
                color: $primary;
            }
        }

        .navbar-nav, .global-nav {
            flex-direction: column;
            width: 100%;
        }
        
        > .navbar-collapse {
            width: 100%;

            .nav-link {
                color: $gray-900;
                color: var(--text);
                padding: 0;
                border-left: 6px solid transparent;

                &.active, &:hover, &.nav-link-open {
                    border-color: $primary;
                    color: $primary;

                    .btn-collapse:before, a {
                        color: $primary;
                    }
                }
                
                &.active-page, &:hover, &.active-child {
                    background: $primary-opacity;
                }

                &.active, &.active-child, &.nav-link-open {
                    font-weight: bold;
                }

                &:not(.nav-link-collapse) {
                    padding: $spacer / 2 $spacer;
                }

                .btn-collapse {
                    padding: $spacer / 2 0 $spacer / 2 ($spacer / 4 * 3);

                    &:before {
                        color: $gray-900;
                        color: var(--text);
                        transition: $theme-transition;
                    }

                    &:focus {
                        box-shadow: none;

                        &:before {
                            color: $primary;
                        }
                    }
                }
            
                a {
                    width: 100%;
                    padding: $spacer / 2 $spacer / 4 $spacer / 2 0;
                    color: $gray-900;
                    color: var(--text);
                    transition: $theme-transition;
                }
            }

            .collapse .nav-link {
                border-left: 6px solid $primary;
            }

            > .navbar-nav {
                > .nav-item {
                    > .nav-link {
                        &:not(.nav-link-collapse) {
                            padding-left: $spacer * 2;
                        }
                    }
                    > .collapse {
                        > .navbar-nav {
                            > .nav-item {
                                > .nav-link {
                                    &.nav-link-collapse .btn-collapse {
                                        padding-left: $spacer * 2 - $spacer / 4;
                                    }

                                    &:not(.nav-link-collapse) {
                                        padding-left: $spacer * 3;
                                    }
                                }
                                > .collapse {
                                    > .navbar-nav {
                                        > .nav-item {
                                            > .nav-link {
                                                &.nav-link-collapse .btn-collapse {
                                                    padding-left: $spacer * 3 - $spacer / 4;
                                                }

                                                &:not(.nav-link-collapse) {
                                                    padding-left: $spacer * 4;
                                                }
                                            }
                                            > .collapse {
                                                > .navbar-nav {
                                                    > .nav-item {
                                                        > .nav-link {
                                                            &:not(.nav-link-collapse) {
                                                                padding-left: $spacer * 5;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    #leftSidebarNav .global-nav {
        display: none;
    }
}

@include media-breakpoint-up(md) {
    #leftSidebarNav {
        top: 0;
    }
}