#searchBox {
    .algolia-autocomplete {
        width: 100%;

        .ds-dropdown-menu {
            box-shadow: $box-shadow !important;
            z-index: 99999 !important;

            &:before {
                background: var(--background);
                border-color: var(--border);
            }

            .ds-dataset-1 {
                padding: 0;
                z-index: 1;

                > .algolia-docsearch-suggestion {
                    background: var(--background);
                    color: var(--text);
                    padding: 0;

                    .algolia-docsearch-suggestion--wrapper {
                        border-bottom: 1px solid $gray-300;
                        border-bottom: 1px solid var(--border);
                        padding: $spacer / 2;
                    }
                }

                .ds-suggestions {
                    padding: $spacer / 2;
                    border-bottom: 1px solid $gray-300;
                    border-bottom: 1px solid var(--border);
                    margin-top: 0;
                }

                .ds-suggestion {
                    .algolia-docsearch-suggestion {
                        background: var(--background);
                        padding: 0;

                        .algolia-docsearch-suggestion--category-header {
                            display: none;
                            border-color: $gray-300;
                            border-color: var(--border);
                            background: var(--background);
                            margin-top: 0;
                            color: var(--text);
                        }

                        .algolia-docsearch-suggestion--wrapper {
                            display: flex;
                            flex-direction: column;
                            padding: $spacer / 2 $spacer;
                            border-left: 3px solid transparent;
                        
                            .algolia-docsearch-suggestion--subcategory-column, .algolia-docsearch-suggestion--content {
                                padding: 0;
                                width: 100%;
                                text-align: left;

                                &:before {
                                    display: none;
                                }
                            }

                            .algolia-docsearch-suggestion--subcategory-column {
                                font-size: 1.1rem;
                                font-weight: bold;

                                &:after {
                                    display: none;
                                }
                            }

                            .algolia-docsearch-suggestion--title {
                                font-size: $font-size-base;
                                font-weight: 400;
                                margin-bottom: 0;
                            }

                            .algolia-docsearch-suggestion--title, .algolia-docsearch-suggestion--subcategory-column {
                                color: $dark;
                                color: var(--text);
                                opacity: 1;
                            }

                            .algolia-docsearch-suggestion--text {
                                color: $gray-800;
                                color: var(--text-code);
                                margin: $spacer / 2 0;
                            }

                            .algolia-docsearch-suggestion--highlight {
                                color: $primary;
                                background: none;
                            }
                        }
                    }
        
                    &.ds-cursor .algolia-docsearch-suggestion--wrapper {
                        border-left: 3px solid $primary;
                        background: $primary-opacity !important;

                        .algolia-docsearch-suggestion--content {
                            background: none !important;
                        }
                    }

                    &:not(:first-child) {
                        border-top: 1px solid $gray-300;
                        border-top: 1px solid var(--border);
                    }
                }
            }

            [class^=ds-dataset-] {
                background: var(--background);
                border-color: $gray-300;
                border-color: var(--border);
            }
        }
    }

    .algolia-docsearch-footer {
        position: relative;
        margin: $spacer / 2 0;
        width: 100%;
        background: $white;
        background: var(--background);

        .algolia-docsearch-footer--logo {
            position: absolute;
            right: $spacer;
            background-image: url("/assets/images/search-by-algolia-light-background.svg");
            background-repeat: no-repeat;
            background-size: cover;
            padding: 0px;
            margin: 0px;
            width: 133px;
            height: 19px;
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root:not([data-user-color-scheme]) {
        #searchBox {
            .algolia-docsearch-footer {
                .algolia-docsearch-footer--logo {
                    background-image: url("/assets/images/search-by-algolia-dark-background.svg");
                }
            }
        }
    }
}

[data-user-color-scheme='dark'] {
    #searchBox {
        .algolia-docsearch-footer {
            .algolia-docsearch-footer--logo {
                background-image: url("/assets/images/search-by-algolia-dark-background.svg");
            }
        }
    }
}

@media (max-width: 767.98px) {
    // Fixes mobile sizing issue. Taken from https://github.com/algolia/docsearch/issues/181#issuecomment-301730219
    #searchBox {
        .algolia-autocomplete {
            .ds-dropdown-menu {
                margin-top: 19px;
                max-width: calc(100vw - 34px);
                min-width: calc(100vw - 34px);
                width: calc(100vw - 34px);
            }
            .algolia-docsearch-suggestion--content {
                width: 100%;
                padding-left: 0;
            }
        }
    }
}