label[for="themeToggle"] {
    &:focus-within {
        border-radius: 1rem;
        box-shadow: 0 0 0 0.2rem var(--theme-toggle-opacity);
    }
}

#themeToggle {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;

    + .toggle-slot {
        position: relative;
        height: 2.25rem;
        width: 4rem;
        border: 1px solid $gray-300;
        border: 1px solid var(--border-secondary);
        border-radius: 1em;
        background: $white;
        background: var(--theme-toggle-background);
        transition: $theme-transition;

        .fas {
            position: absolute;
            color: $yellow;
        }

        .sun-icon-wrapper {
            position: absolute;
            height: 1.25rem;
            opacity: 1;
            transform: translate(0.55rem, 0.47rem);
            transform-origin: 50% 50%;
            transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);

            .sun-icon {
                font-size: 1.25rem;
            }
        }

        .toggle-button {
            transform: translate(2.35rem, 0.62rem);
            position: absolute;
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            background-color: var(--theme-toggle-btn-background);
            border: 1px solid $yellow;
            transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
        }

        .moon-icon-wrapper {
            position: absolute;
            height: 1.25rem;
            opacity: 0;
            transform: translate(2rem, .25rem) rotate(0deg);
            transform-origin: 50% 50%;
            transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);

            .moon-icon {
                font-size: 1rem;
            }
        }

        &:not(.disabled):active, &:not(.disabled):focus {
            box-shadow: 0 0 0 0.2rem var(--theme-toggle-opacity);
        }

        &:not(.disabled):hover {
            cursor: pointer;
        }

        &.disabled:hover {
            cursor: not-allowed;
        }
    }

    &:checked ~ .toggle-slot .toggle-button {
        transform: translate(0.7rem, 0.65em);
    }

    &:checked ~ .toggle-slot .sun-icon-wrapper {
        opacity: 0;
        transform: translate(3em, 2em) rotate(0deg);
    }

    &:checked ~ .toggle-slot .moon-icon-wrapper {
        opacity: 1;
        transform: translate(2.45rem, 0.85em) rotate(-25deg);
    }
}