#topNav {
    padding: $spacer / 2 0;
    background: $white;
    background: var(--background-light);
    transition: $theme-transition;

    .navbar-brand img {
        height: 3rem;
        padding-left: 1rem;
    }

    form[role="search"] {
        width: 80%;
        transition: $theme-transition;
        padding-left: 15px;

        .fa-search {
            position: absolute;
            z-index: 1;
            left: 25px;
            top: 50%;
            transform: translate(0, -50%);
            color: $primary-opacity;
            transition: $theme-transition;
        }

        .form-control {
            width: 100%;
            padding-left: 35px;

            &:hover {
                border-color: $primary;
                box-shadow: 0 0 0 0.2rem $primary-opacity;
            }
        }

        &.active, &:hover {
            .fa-search {
                color: $primary;
                transition: $theme-transition;
            }
        }
    }
    
    .navbar-nav {
        flex-direction: row;
        align-items: center;
        margin-right: 69px;

        .nav-item {
            display: flex;
            align-items: center;

            &:not(:last-child) {
                padding-right: $spacer;
            }

            .nav-link {
                padding: 0;
            }

            .btn-search {
                border: 1px solid $gray-300;
                border: 1px solid var(--border-secondary);
                color: $secondary;
                font-weight: 400;

                &:focus, &:hover {
                    background: $primary;

                    .fas {
                        color: $white;
                    }
                }

                .fas {
                    color: $primary;
                }
            }
        }
    }

    .btn-search-close {
        width: 20%;
    }
}


@include media-breakpoint-up(sm) {
    #topNav {
        form[role="search"] {
            width: 85%;
        }
    
        .btn-search-close {
            width: 15%;
        }
    }
}

@include media-breakpoint-up(md) {
    #topNav {
        padding-bottom: .5rem;
        height: 92px;

        .navbar-brand img {
            height: 100px;
            top: -25px;
            position: absolute;
        }

        form[role="search"] {
            padding-left: 0;
            position: absolute;
            left: 25%;
            top: 0px;
            bottom: 0px;
            right: auto;
            width: 40%;

            .fa-search {
               left: 12px;
            }

            .form-control {
                padding-left: 35px;
                padding-right: 80px;
            }

            .search-key-container {
                position: absolute;
                right: 12px;
                top: 50%;
                transform: translate(0, -50%);

                .badge-key:not(:last-child) {
                    margin-right: $spacer / 4;
                }
            }
        }


        .navbar-nav {
            margin-right: 0;

            .nav-item {
                &:not(:last-child), &:not(:nth-last-child(2)) {
                    padding-right: $spacer * 2;
                }

                &:nth-last-child(2) {
                    padding-right: 1rem;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    #topNav {
        form[role="search"] {
            width: 45%;
        }
    }
}

@include media-breakpoint-up(xl) {
    #topNav {
        form[role="search"] {
            left: 50%;
            right: 50%;
            transform: translate(-50%, 0);
            z-index: 1;
            width: 700px;
        }
    }
} 
