<ul class="nav global-nav">
    <li class="nav-item"><a class="nav-link" href="https://chocolatey.org" target="_blank" rel="noreferrer"><span class="d-sm-none">Back to </span>chocolatey.org</a></li>
    <li class="nav-item"><a class="nav-link" href="https://chocolatey.org/packages" target="_blank" rel="noreferrer"><span class="d-sm-none">Back to the </span>Community</a></li>
</ul>