
@*
<div class="navbar-right navbar-form">
    <input type="text" class="form-control" id="search-query" placeholder="Search" autocomplete="off" autofocus>
</div>
*@

@{
    List<Tuple<string, string>> pages = new List<Tuple<string, string>>
    {
        Tuple.Create("Documentation", Context.GetLink("docs")),
    };
    foreach(Tuple<string, string> p in pages)
    {
        string active = Context.GetLink(Document).StartsWith(p.Item2) ? "active" : null;
        <li class="@active"><a href="@p.Item2">@Html.Raw(p.Item1)</a></li>
    }
}