---
Title: Chocolatey
NoSidebar: true
NoContainer: true
NoGutter: true
---

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Chocolatey</h1>
        <p>
            The Package Manager for Windows
        </p>
        <a class="btn btn-primary btn-lg" href="docs" role="button">Learn more</a>
    </div>
</div>