---
Title: Documentation
Order: 10
---
<p>
    We gladly accept your contributions. If there is something that you would like to add then you can send a pull request via GitHub.  Have a look at the <a href="docs/contributing/how-to-contribute">how to contribute</a> guide for more information.
</p>

@foreach(IDocument child in Model.DocumentList(Keys.Children).OrderBy(x => x.Get<int>(DocsKeys.Order, 1000)))
{
    <h1>@(child.String(Keys.Title))</h1>
    if(child.ContainsKey(DocsKeys.Description))
    {
        <p>@Html.Raw(child.String(DocsKeys.Description))</p>
    }

    @Html.Partial("_ChildPages", child)
}
