.dotnet/
tools/
BuildArtifacts/
config.wyam.*
.DS_Store
output/
bin/
obj/
publish/
package-lock.json
node_modules/
input/assets/css/
input/assets/js/
input/assets/fonts/
input/assets/images/global-shared/
apple-touch-*.png
favicon.ico