---
// Scripts and types
import type { ContentTree } from '@scripts/types';
import { isActivePage } from '@scripts/is-active-page';

interface Props {
    content: ContentTree;
    paddingClass: string;
}

const { content, paddingClass } = Astro.props;
const activeSlug = Astro.url.pathname;
---

<li class={`nav-item nav-item-blue`}>
    <a class={`nav-link ${paddingClass} ${isActivePage(content.slug, activeSlug) ? 'active active-page' : ''}`} href={content.slug}>{content.data.title}</a>
</li>
