---
// Scripts and types
import type { ContentTree } from '@scripts/types';

interface Props {
    content: ContentTree;
    paddingClass: string;
}

const { content, paddingClass } = Astro.props;
const activeSlug = Astro.url.pathname;

const isActivePage = () => {
    return content.slug === activeSlug || content.slug.slice(0, -1) === activeSlug;
};
---

<li class={`nav-item nav-item-blue`}>
    <a class={`nav-link ${paddingClass} ${isActivePage() ? 'active active-page' : ''}`} href={content.slug}>{content.data.title}</a>
</li>
