<!-- When adding a new announcement, change the number on the end of the value to the next available. Example: 1 becomes 2, 2 becomes 3. -->
<input id="announcementCookie" value="chocolatey_announcement_10" type="hidden" />
<!-- When adding a new announcement, update the value number to the amount of new announcements added. -->
<input id="announcementCount" value="1" type="hidden" />

<div id="announcementCount"></div>
<div id="announcementCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="6000">
    <div class="position-relative w-100 overflow-hidden">
        <div class="carousel-item active">
            <div class="card text-bg-primary mb-0">
                <div class="card-body text-center">
                    <h3>Resources</h3>
                    <p>Watch videos, read documentation, and hear Chocolatey success stories from companies you trust.</p>
                    <a href="https://chocolatey.org/resources" class="btn btn-bg-body">View Resources</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card text-bg-success mb-0">
                <div class="card-body text-center">
                    <h3>Events</h3>
                    <p>Find past and upcoming webinars, workshops, and conferences. New events have recently been added!</p>
                    <a href="https://chocolatey.org/events" class="btn btn-bg-body">View Events</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card text-bg-primary-900 mb-0">
                <div class="card-body text-center">
                    <h3>Courses</h3>
                    <p>Step-by-step guides for all things Chocolatey! Earn badges as you learn through interactive digital courses.</p>
                    <a href="https://community.chocolatey.org/courses" class="btn btn-primary">View Courses</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="text-center">
    <a href="https://chocolatey.org/events/unpacking-software" rel="noreferrer" target="_blank">
        <img class="border rounded mb-3" src="https://img.chocolatey.org/events/01-25.jpg" alt="Unpacking Software Livestream" />
    </a>
    <p class="text-start">Join our monthly Unpacking Software livestream to hear about the latest news, chat and opinion on packaging, software deployment and lifecycle management!</p>
    <a href="https://chocolatey.org/events/unpacking-software" rel="noreferrer" target="_blank" class="btn btn-primary mt-2 mx-1">Learn More</a>
</div>
<hr />
<div class="text-center">
    <a href="https://chocolatey.org/events/chocolatey-product-spotlight" rel="noreferrer" target="_blank">
        <img class="border rounded mb-3" src="https://img.chocolatey.org/events/01-23.jpg" alt="Chocolatey Product Spotlight" />
    </a>
    <p class="text-start">Join the Chocolatey Team on our regular monthly stream where we put a spotlight on the most recent Chocolatey product releases. You'll have a chance to have your questions answered in a live Ask Me Anything format.</p>
    <a href="https://chocolatey.org/events/chocolatey-product-spotlight" rel="noreferrer" target="_blank" class="btn btn-primary mt-2 mx-1">Learn More</a>
</div>
<hr />
<div class="text-center">
    <a href="https://chocolatey.org/events/chocolatey-coding-livestream" rel="noreferrer" target="_blank">
        <img class="border rounded mb-3" src="https://img.chocolatey.org/events/01-21-2.jpg" alt="Chocolatey Coding Livestream" />
    </a>
    <p class="text-start">Join us for the Chocolatey Coding Livestream, where members of our team dive into the heart of open source development by coding live on various Chocolatey projects. Tune in to witness real-time coding, ask questions, and gain insights into the world of package management. Don't miss this opportunity to engage with our team and contribute to the future of Chocolatey!</p>
    <a href="https://chocolatey.org/events/chocolatey-coding-livestream" rel="noreferrer" target="_blank" class="btn btn-primary mt-2 mx-1">Learn More</a>
</div>
<hr />
<div class="shuffle">
    <div class="text-center">
        <a href="https://chocolatey.org/events/whipping-up-windows-automation-with-chocolatey-central-management" rel="noreferrer" target="_blank">
            <img class="border rounded mb-3" src="https://img.chocolatey.org/events/01-24.png" alt="Calling All Chocolatiers! Whipping Up Windows Automation with Chocolatey Central Management" />
        </a>
        <p><strong>Webinar from<br />Wednesday, 17 January 2024</strong></p>
        <p class="text-start">We are delighted to announce the release of Chocolatey Central Management v0.12.0, featuring seamless Deployment Plan creation, time-saving duplications, insightful Group Details, an upgraded Dashboard, bug fixes, user interface polishing, and refined documentation. As an added bonus we'll have members of our Solutions Engineering team on-hand to dive into some interesting ways you can leverage the new features available!</p>
        <a href="https://chocolatey.org/events/whipping-up-windows-automation-with-chocolatey-central-management" rel="noreferrer" target="_blank" class="btn btn-primary mt-2 mx-1">Watch On-Demand</a>
        <hr />
    </div>
    <div class="text-center">
        <a href="https://chocolatey.org/events/chocolatey-community-coffee-break" rel="noreferrer" target="_blank">
            <img class="border rounded mb-3" src="https://img.chocolatey.org/events/01-15-2.jpg" alt="Chocolatey Community Coffee Break" />
        </a>
        <p class="text-start">Join the Chocolatey Team as we discuss all things Community, what we do, how you can get involved and answer your Chocolatey questions.</p>
        <a href="https://chocolatey.org/events/chocolatey-community-coffee-break" class="btn btn-primary mt-2 mx-1">Watch The Replays</a>
        <hr />
    </div>
    <div class="text-center">
        <a href="https://chocolatey.org/events/chocolatey-and-intune-overview" rel="noreferrer" target="_blank">
            <img class="border rounded mb-3" src="https://img.chocolatey.org/events/01-11.jpg" alt="Chocolatey and Intune Overview" />
        </a>
        <p><strong>Webinar Replay from<br />Wednesday, 30 March 2022</strong></p>
        <p class="text-start">At Chocolatey Software we strive for simple, and teaching others. Let us teach you just how simple it could be to keep your 3rd party applications updated across your devices, all with Intune!</p>
        <a href="https://chocolatey.org/events/chocolatey-and-intune-overview" class="btn btn-primary mt-2 mx-1">Watch On-Demand</a>
        <hr />
    </div>
    <div class="text-center">
        <a href="https://chocolatey.org/events/chocolatey-for-business-in-azure" rel="noreferrer" target="_blank">
            <img class="border rounded mb-3" src="https://img.chocolatey.org/events/01-14.jpg" alt="Chocolatey For Business. In Azure. In One Click." />
        </a>
        <p><strong>Livestream from<br />Thursday, 9 June 2022</strong></p>
        <p class="text-start">Join James and Josh to show you how you can get the Chocolatey For Business recommended infrastructure and workflow, created, in Azure, in around 20 minutes.</p>
        <a href="https://chocolatey.org/events/chocolatey-for-business-in-azure" class="btn btn-primary mt-2 mx-1">Watch On-Demand</a>
        <hr />
    </div>
    <div class="text-center">
        <a href="https://chocolatey.org/events/the-future-of-chocolatey-cli" rel="noreferrer" target="_blank">
            <img class="border rounded mb-3" src="https://img.chocolatey.org/events/01-17.jpg" alt="The Future of Chocolatey CLI" />
        </a>
        <p><strong>Livestream from<br />Thursday, 04 August 2022</strong></p>
        <p class="text-start">Join Paul and Gary to hear more about the plans for the Chocolatey CLI in the not so distant future. We'll talk about some cool new features, long term asks from Customers and Community and how you can get involved!</p>
        <a href="https://chocolatey.org/events/the-future-of-chocolatey-cli" class="btn btn-primary mt-2 mx-1">Watch On-Demand</a>
        <hr />
    </div>
    <div class="text-center">
        <a href="https://chocolatey.org/events/hacktoberfest-tuesdays-2022" rel="noreferrer" target="_blank">
            <img class="border rounded mb-3" src="https://img.chocolatey.org/events/01-19.jpg" alt="Hacktoberfest Tuesdays 2022" />
        </a>
        <p><strong>Livestreams from<br />October 2022</strong></p>
        <p class="text-start">For Hacktoberfest, Chocolatey ran a livestream every Tuesday! Re-watch Cory, James, Gary, and Rain as they share knowledge on how to contribute to open-source projects such as Chocolatey CLI.</p>
        <a href="https://chocolatey.org/events/hacktoberfest-tuesdays-2022" class="btn btn-primary mt-2 mx-1">Watch On-Demand</a>
        <hr />
    </div>
</div>
