<ul class="nav global-nav-ul fw-bold flex-wrap flex-sm-fill justify-content-sm-end">
    <li class="nav-item"><a class="nav-link" href="https://chocolatey.org" target="_blank" rel="noreferrer">Main</a></li>
    <li class="nav-item"><a class="nav-link" href="https://community.chocolatey.org" target="_blank" rel="noreferrer">Community</a></li>
    <li class="nav-item"><a class="nav-link" href="https://docs.chocolatey.org/en-us/" target="_blank" rel="noreferrer">Docs</a></li>
    <li class="nav-item"><a class="nav-link" href="https://blog.chocolatey.org" target="_blank" rel="noreferrer">Blog</a></li>
    <li class="nav-item"><a class="nav-link" href="https://chocolatey.org/install" target="_blank" rel="noreferrer">Install</a></li>
    <li class="nav-item d-none d-md-flex align-items-center">
        <div class="vr me-3 my-auto h-50"></div>
        <div class="dropdown dropdown-theme">
    <button class="btn btn-top-nav dropdown-toggle w-px-60 d-md-none" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
        <span class="theme-icon-active"><i></i></span>
    </button>
    <button class="btn nav-link dropdown-toggle py-0 px-0 w-px-30 d-none d-md-block" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
        <span class="theme-icon-active"><i></i></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                <i class="fa-solid fa-sun me-2 opacity-50" data-ct-theme-icon="fa-sun"></i>
                    Light
                <i class="fa-solid fa-check ms-auto d-none"></i>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="true">
                <i class="fa-solid fa-moon me-2 opacity-50" data-ct-theme-icon="fa-moon"></i>
                    Dark
                <i class="fa-solid fa-check ms-auto d-none"></i>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
                <i class="fa-solid fa-circle-half-stroke me-2 opacity-50" data-ct-theme-icon="fa-circle-half-stroke"></i>
                    Auto
                <i class="fa-solid fa-check ms-auto d-none"></i>
            </button>
        </li>
    </ul>
</div>
    </li>
</ul>