<ul class="list-unstyled list-inline mb-0">
    <li class="list-inline-item">
        <a href="https://twitter.com/chocolateynuget" target="_blank" rel="noreferrer" aria-label="Connect with Chocolatey on Twitter" title="Connect with Chocolatey on Twitter">
            <div class="text-bg-twitter circle" aria-hidden="true">
                <i class="fa-brands fa-x-twitter"></i>
            </div>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://www.linkedin.com/company/chocolatey-software/" target="_blank" rel="noreferrer" aria-label="Connect with Chocolatey on LinkedIn" title="Connect with Chocolatey on LinkedIn">
            <div class="text-bg-linkedin circle" aria-hidden="true">
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://github.com/chocolatey" target="_blank" rel="noreferrer" aria-label="Connect with Chocolatey on GitHub" title="Connect with Chocolatey on GitHub">
            <div class="text-bg-body-contrast circle" aria-hidden="true">
                <i class="fa-brands fa-github"></i>
            </div>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://www.youtube.com/chocolateysoftware" target="_blank" rel="noreferrer" aria-label="Connect with Chocolatey on YouTube" title="Connect with Chocolatey on YouTube">
            <div class="text-bg-youtube circle" aria-hidden="true">
                <i class="fa-brands fa-youtube"></i>
            </div>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://www.twitch.tv/chocolateysoftware" target="_blank" rel="noreferrer" aria-label="Connect with Chocolatey on Twitch" title="Connect with Chocolatey on Twitch">
            <div class="text-bg-twitch circle" aria-hidden="true">
                <i class="fa-brands fa-twitch"></i>
            </div>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://facebook.com/ChocolateySoftware" target="_blank" rel="noreferrer" aria-label="Connect with Chocolatey on Facebook" title="Connect with Chocolatey on Facebook">
            <div class="text-bg-facebook circle" aria-hidden="true">
                <i class="fa-brands fa-facebook-f"></i>
            </div>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://ch0.co/community" target="_blank" rel="noreferrer" aria-label="Connect with Chocolatey on Community Chat" title="Connect with Chocolatey on Community Chat">
            <div class="text-bg-chat circle" aria-hidden="true">
                <i class="fa-solid fa-comment"></i>
            </div>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://groups.google.com/forum/#!forum/chocolatey" target="_blank" rel="noreferrer" aria-label="Connect with Chocolatey on Google Groups" title="Connect with Chocolatey on Google Groups">
            <div class="text-bg-google circle" aria-hidden="true">
                <i class="fa-brands fa-google"></i>
            </div>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://fosstodon.org/@@chocolatey" target="_blank" rel="me" aria-label="Connect with Chocolatey on Mastodon" title="Connect with Chocolatey on Mastodon">
            <div class="text-bg-mastodon circle" aria-hidden="true">
                <i class="fa-brands fa-mastodon"></i>
            </div>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://bsky.app/profile/chocolatey.org" target="_blank" rel="me" aria-label="Connect with Chocolatey on Bluesky" title="Connect with Chocolatey on Bluesky">
            <div class="text-bg-bluesky circle" aria-hidden="true">
                <svg class="w-50" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 568 501"><title>Bluesky butterfly logo</title><path fill="#fff" d="M123.121 33.664C188.241 82.553 258.281 181.68 284 234.873c25.719-53.192 95.759-152.32 160.879-201.21C491.866-1.611 568-28.906 568 57.947c0 17.346-9.945 145.713-15.778 166.555-20.275 72.453-94.155 90.933-159.875 79.748C507.222 323.8 536.444 388.56 473.333 453.32c-119.86 122.992-172.272-30.859-185.702-70.281-2.462-7.227-3.614-10.608-3.631-7.733-.017-2.875-1.169.506-3.631 7.733-13.43 39.422-65.842 193.273-185.702 70.281-63.111-64.76-33.89-129.52 80.986-149.071-65.72 11.185-139.6-7.295-159.875-79.748C9.945 203.659 0 75.291 0 57.946 0-28.906 76.135-1.612 123.121 33.664Z"></path></svg>
            </div>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="https://ch0.co/podcast" target="_blank" rel="me" aria-label="Listen to the Unpacking Software Podcast" title="Listen to the Unpacking Software Podcast">
            <div class="text-bg-podcast circle" aria-hidden="true">
                <i class="fa-solid fa-podcast"></i>
            </div>
        </a>
    </li>
</ul>