<a class="h2 btn-collapse collapsed d-hash-none d-block" data-bs-toggle="collapse" href="#toc" role="button" aria-expanded="false" aria-controls="toc" title="Table of Contents">Table of Contents</a>
<div class="collapse" id="toc">
    <div class="py-3">
        <ol>
            <li><a href="#agreement-to-terms">Agreement to Terms</a></li>
            <li><a href="#intellectual-property-rights">Intellectual Property Rights</a></li>
            <li><a href="#user-representations">User Representations</a></li>
            <li><a href="#user-registration">User Registration</a></li>
            <li><a href="#fees-and-payment">Fees and Payment</a></li>
            <li><a href="#cancellation">Cancellation</a></li>
            <li><a href="#software">Software</a></li>
            <li><a href="#prohibited-activities">Prohibited Activities</a></li>
            <li><a href="#user-generated-contributions">User Generated Contributions</a></li>
            <li><a href="#contribution-license">Contribution License</a></li>
            <li><a href="#guidelines-for-comments-and-reviews">Guidelines for Comments and Reviews</a></li>
            <li><a href="#social-media">Social Media</a></li>
            <li><a href="#submissions">Submissions</a></li>
            <li><a href="#third-party-websites-and-content">Third-Party Websites and Content</a></li>
            <li><a href="#us-government-rights">U.S. Government Rights</a></li>
            <li><a href="#site-management">Site Management</a></li>
            <li><a href="#privacy-policy">Privacy Policy</a></li>
            <li><a href="#copyright-infringements">Copyright Infringements</a></li>
            <li><a href="#term-and-termination">Term and Termination</a></li>
            <li><a href="#modifications-and-interruptions">Modifications and Interruptions</a></li>
            <li><a href="#governing-law">Governing Law</a></li>
            <li><a href="#dispute-resolution">Dispute Resolution</a></li>
            <li><a href="#corrections">Corrections</a></li>
            <li><a href="#disclaimer">Disclaimer</a></li>
            <li><a href="#limitations-of-liability">Limitations of Liability</a></li>
            <li><a href="#indemnification">Indemnification</a></li>
            <li><a href="#user-data">User Data</a></li>
            <li><a href="#electronic-communications-transactions-and-signatures">Electronic Communications, Transactions, and Signatures</a></li>
            <li><a href="#california-users-and-residents">California Users and Residents</a></li>
            <li><a href="#miscellaneous">Miscellaneous</a></li>
            <li><a href="#contact-us">Contact Us</a></li>
        </ol>
    </div>
</div>